[user]
## put your name and email here
#        email = 
#        name = 
[color]
        ui = true
[core]
        editor = vim
        excludesfile = ~/.gitignore
[commit]
        template = ~/.gitmessage
[include]
    path = ~/.gitalias